<!--profile cover start-->
<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <div class="button-avatar" *ngIf="background">
          <button (click)="changeImage(true)" class="btn btn-primary mr-2">Đổi</button>
          <button (click)="deleteImage(true)" class="btn btn-secondary">Xóa</button>
        </div>
        <label for="fileBackground" class="label-background" *ngIf="userProfile?.userName===currentUtc2User?.username">
          <i class="icofont btn-change-background icofont-camera"></i>
        </label>

        <input id="fileBackground" accept="image/*" type='file' (change)="onSelectFile($event, true)" *ngIf="userProfile?.userName===currentUtc2User?.username">
        <img class="profile-bg-img img-fluid" [src]="srcBackground" alt="bg-img">
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a href="javascript:;" class="profile-image">
                <!-- <img class="user-img img-radius" src="assets/images/user-profile/user-img.jpg" alt="user-img"> -->

                <label class="hoverable" for="fileInput">
                  <img class="user-img img-radius" [src]="srcAvatar">
                  <div class="hover-text" *ngIf="userProfile?.userName===currentUtc2User?.username">Đổi Avatar</div>
                  <div class="background" *ngIf="userProfile?.userName===currentUtc2User?.username"></div>
                </label>
                <br/>
                <input id="fileInput" accept="image/*" type='file' (change)="onSelectFile($event)" *ngIf="userProfile?.userName===currentUtc2User?.username">

                <div class="button-avatar" *ngIf="avatar">
                  <button (click)="changeImage()" class="btn btn-primary mr-2">Đổi</button>
                  <button (click)="deleteImage()" class="btn btn-secondary">Xóa</button>
                </div>
              </a>
            </div>
            <div class="media-body row">
              <div class="col-lg-12">
                <div class="user-title">
                  <h2>{{userProfile?.fullName}}</h2>
                  <span class="text-white">{{userProfile?.department?.departName}}</span>
                </div>
              </div>
              <div>
                <div class="pull-right cover-btn" *ngIf="userProfile?.userName!==currentUtc2User?.username" >
                  <button type="button" *ngIf="!isFollowed"  class="btn btn-primary m-b-10 m-r-10" (click)="doFollow()"><i class="icofont icofont-plus"></i> Theo Dõi</button>

                  <button type="button" *ngIf="isFollowed"  class="btn btn-primary m-b-10 m-r-10" (click)="doUnFollow()"><i class="icofont icofont-plus"></i> Hủy Theo Dõi</button>
                  <button type="button" class="btn btn-primary m-b-10" (click)="doChat()"><i class="icofont icofont-ui-messaging"></i> Nhắn Tin</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="Tường Nhà">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <div class="card">
                <!-- <div class="card-header">
                  <h5 class="card-header-text">Tường Nhà</h5>
                </div> -->
                <div class="card-body">

                  <div class="md-float-material d-flex">
                    <div class="md-group-add-on p-relative col-lg-12 px-0 mb-4">
                      <div class="input-group  input-group-button input-group-primary">
                        <textarea type="text" style="height: auto!important; resize: none;" [(ngModel)]="postInput" class="form-control h-100" placeholder="Bạn đang nghĩ gì ?">
                          </textarea>
                        <span class="input-group-append"><label class="input-group-text">
                                       <button type="button" class="btn btn-primary" (click)="doPost()"><i class="icofont icofont-plus"></i>Đăng</button>
                        </label></span>
                      </div>
                    </div>
                  </div>

                  <ul class="media-list" *ngFor="let item of postList; let i = index">
                    <app-post [item]="item"></app-post>

                    <!-- <li class="media">
                      <div class="media-left">
                        <a href="javascript:;">
                          <img *ngIf="!userProfile.avatar"  class="media-object img-radius comment-img" src="assets/images/avatar-1.jpg" alt="Generic placeholder image">
                          <img *ngIf="userProfile.avatar"  class="media-object img-radius comment-img" [src]="userProfile.avatar" alt="Generic placeholder image">
                        </a>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">{{userProfile.fullName}} ({{userProfile.department.departId}})<span class="f-12 text-muted m-l-5">{{item.created | date :'dd/MM/yyyy hh:mm a'}}</span></h6>
                        <p class="m-b-0">{{item.content}}</p>
                        <div class="m-b-25">
                          <span><a type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" aria-expanded="false" aria-controls="collapse" class="m-r-10 f-12">Hiện Bình Luận</a></span>
                          <span><a href="javascript:;" class="m-r-10 f-12">Sửa</a> </span>
                          <span><a href="javascript:;" class="f-12">Xóa</a> </span>
                        </div>
                        <hr>
                        <div class="collapse" id="collapse-{{i}}">
                          <div class="media mt-2">
                            <a class="media-left" href="javascript:;">
                              <img class="media-object img-radius comment-img" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                              <h6 class="media-heading">Larry heading <span class="f-12 text-muted m-l-5">Just now</span></h6>
                              <p class="m-b-0"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                              <div class="m-b-25">
                                <span><a href="javascript:;" class="f-12">Sửa</a> </span>
                                <span><a href="javascript:;" class="f-12">Xóa</a> </span>
                              </div>
                              <hr>
                            </div>
                          </div>
                          <div class="md-float-material d-flex">
                            <div class="md-group-add-on p-relative col-lg-12 px-0 mb-4">
                              <div class="input-group  input-group-button input-group-primary">
                                <input type="text" style="height: auto!important; resize: none;" (keyup.enter)="doCmt($event.target.value ,item)" class="form-control h-100" placeholder="Bình luận"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li> -->
                  </ul>
                  <span><a href="javascript:;"(click)="seeMore()" class="m-r-10 f-12">Xem Thêm</a> </span>

                  <!-- <div class="md-float-material d-flex">
                    <div class="md-group-add-on p-relative col-lg-12">
                      <div class="input-group input-group-button input-group-primary">
                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-comment"></i></label></span>
                        <input type="text" class="form-control" placeholder="Write Comment">
                        <span class="input-group-append"><label class="input-group-text">
                                       <button type="button" class="btn btn-primary"><i class="icofont icofont-plus"></i>note</button>
                        </label></span>
                      </div>
                    </div>
                  </div> -->

                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Thông Tin Cá Nhân">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <!-- <h5 class="card-header-text">About Me</h5> -->
                  <button id="edit-btn" *ngIf="userProfile?.userName===currentUtc2User?.username" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                  <tr>
                                    <th scope="row">Tên</th>
                                    <td>{{userProfile?.fullName}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Giới Tính</th>
                                    <td>{{userProfile?.gender}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Ngày Sinh</th>
                                    <td>{{userProfile?.birthDate | date :'dd/MM/yyyy'}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <th scope="row">Email</th>
                                    <td><a href="javascript:;">{{userProfile?.email}}</a></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Số Điện Thoại</th>
                                    <td>{{userProfile?.phone}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Khoa</th>
                                    <td>{{userProfile?.department.departName}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <td>
                                      <div class="input-group mb-0">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
                                        <input type="text" class="form-control" placeholder="Họ Tên" [(ngModel)]="userProfileEdit.fullName" disabled>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="form-group disaled mb-0">
                                        <div class="d-flex flex-row" style="height: 35px;">
                                          <div class="custom-control custom-radio mr-4 my-auto">
                                            <input
                                              type="radio"
                                              class="custom-control-input"
                                              id="customControlValidation2"
                                              name="radio-stacked"
                                              [(ngModel)]="userProfileEdit.gender"
                                              #type="ngModel"
                                              required
                                              value="UNDEFINED"
                                            />
                                            <label
                                              class="custom-control-label"
                                              for="customControlValidation2"
                                              >Không Xác Định</label
                                            >
                                          </div>
                                          <div class="custom-control custom-radio mr-4 my-auto">
                                            <input
                                              type="radio"
                                              class="custom-control-input"
                                              id="customControlValidation1"
                                              name="radio-stacked"
                                              [(ngModel)]="userProfileEdit.gender"
                                              #type="ngModel"
                                              required
                                              value="Nam"
                                            />
                                            <label
                                              class="custom-control-label"
                                              for="customControlValidation1"
                                              >Nam</label
                                            >
                                          </div>
                                          <div class="custom-control custom-radio my-auto">
                                            <input
                                              type="radio"
                                              class="custom-control-input"
                                              id="customControlValidation3"
                                              name="radio-stacked"
                                              [(ngModel)]="userProfileEdit.gender"
                                              #type="ngModel"
                                              required
                                              value="Nữ"
                                            />
                                            <label
                                              class="custom-control-label"
                                              for="customControlValidation3"
                                              >Nữ</label
                                            >
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group mb-0">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-birthday-cake"></i></label></span>
                                        <p-calendar
                                          [(ngModel)]="birthDate"
                                          name="dateStr"
                                          [readonlyInput]="true"
                                          dateFormat="dd/mm/yy"
                                          hourFormat="24"
                                          [yearNavigator]="true" yearRange="1920:2020"
                                          [monthNavigator]="true"
                                          appendTo="body"
                                        ></p-calendar>
                                      </div>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <td>
                                      <div class="input-group mb-0">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-email"></i></label></span>
                                        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="userProfileEdit.email" disabled>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group mb-0">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-ui-cell-phone"></i></label></span>
                                        <input type="text" class="form-control" placeholder="Số Điện Thoại" [(ngModel)]="userProfileEdit.phone">
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="input-group mb-0">
                                        <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-ui-user-group"></i></label></span>
                                        <input type="text" class="form-control" placeholder="Đơn Vị" [(ngModel)]="userProfileEdit.department.departName" disabled>
                                      </div>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                          <div class="text-center">
                            <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20" (click)="doSave()">Lưu</a>
                            <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Hủy</a>
                          </div>
                        </div>
                        <!-- end of edit info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            </div>
          </ng-template>
        </ngb-tab>

        <!-- <ngb-tab title="User's Services">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">

              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">User Services</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card b-l-success business-info services m-b-20">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;"><h5 class="card-header-text">Shivani Hero</h5></a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                                         </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i> Edit</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i> Delete</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i> View</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-danger business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;"><h5 class="card-header-text">Dress and Sarees</h5></a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                                         </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i> Edit</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i> Delete</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i> View</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-info business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;"><h5 class="card-header-text">Shivani Auto Port</h5></a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                                         </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i> Edit</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i> Delete</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i> View</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-warning business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;"><h5 class="card-header-text">Hair stylist</h5></a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                                         </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i> Edit</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i> Delete</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i> View</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-danger business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;"><h5 class="card-header-text">BMW India</h5></a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                                         </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i> Edit</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i> Delete</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i> View</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card b-l-success business-info services">
                        <div ngbDropdown class="card-header">
                          <div class="service-header">
                            <a href="javascript:;"><h5 class="card-header-text">Shivani Hero</h5></a>
                          </div>
                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip">
                                         </span>
                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-edit"></i> Edit</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-ui-delete"></i> Delete</a>
                            <a class="dropdown-item" href="javascript:;"><i class="icofont icofont-eye-alt"></i> View</a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab> -->

      </ngb-tabset>
    </div>
  </div>
</div>
<!-- <app-chat-box [friendId]="username"></app-chat-box> -->
