.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  // height: 200px;
  // width: 200px;
  // border: 5px solid #000;
  // border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: black;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  // border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput, #fileBackground{
  display: none;
}

.button-avatar {
  position: absolute;
  bottom: 0;
  button {
    padding: 6px;
  }
  z-index: 99999;
}
.btn-change-background {
  position: relative;
  top: 0;
  color: white;
  font-size: 30px;
  right: 10px;
  opacity: 0.7;
  z-index: 9999;
}
.label-background {
  position: absolute;
  top: 0;
  right: 10px;
}
