
<div class="card">
  <div class="card-body">

    <div class="md-float-material d-flex">
      <div class="md-group-add-on p-relative col-lg-12 px-0 mb-4">
        <div class="input-group  input-group-button input-group-primary">
          <textarea type="text" style="height: auto!important; resize: none;" [(ngModel)]="postInput" class="form-control h-100" placeholder="Bạn đang nghĩ gì ?">
            </textarea>
          <span class="input-group-append"><label class="input-group-text">
                          <button type="button" class="btn btn-primary" (click)="doPost()"><i class="icofont icofont-plus"></i>Đăng</button>
          </label></span>
        </div>
      </div>
    </div>

    <ul class="media-list" *ngFor="let item of postList; let i = index">
      <app-post [item]="item"></app-post>
    </ul>
    <span><a href="javascript:;"(click)="seeMore()" class="m-r-10 f-12">Xem Thêm</a> </span>


  </div>
</div>
