.showChat_inner {
  position: fixed;
  bottom: 32px;
  background-color: white;
  right: 32px;
  width: 300px;
  height: calc(100% - 580px);
  z-index: 99;
  border-left: 1px solid #ccc;
  margin-bottom: 0;
}

.back_chatBox {
  margin: 0 auto;
  font-weight: 600;
  i {
    float: right;
    position: absolute;
    margin-top: 5px;
    right: 20px;
    cursor: pointer;
  }
}

.chat-time {
  text-align: right;
  font-size: 11px;
}

.delete-image {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: black;
  border-radius: 25px;
  border: none;

  i {
    color: white;
  }
}
.image-container {
  width: fit-content;
}

.button-file {
  padding: 3px;
  color: white;
  background: rgb(36, 37, 38);
  border-radius: 20px;
  height: 30px;
  width: 30px;
  font-size: 16px;
}
