<div class="card card_main showChat_inner" *ngIf="display">
  <div class="media chat-inner-header">
    <a class="back_chatBox" (click)="isDisplay(false)">
      <i class="icofont icofont-close"></i>
      {{friend?.fullName}}
    </a>
  </div>
  <perfect-scrollbar
    [style.max-width]="'100%'"
    [style.max-height]="'180px'"
    [perfectScrollbar]="scrollConfig"
    (psYReachStart)="onScrollUp()"
  >

    <div class="media chat-messages" *ngFor="let item of messages">
      <!-- <a *ngIf="messages.type" class="media-left photo-table" href="javascript:">
        <img class="media-object img-radius img-radius m-t-5" src="{{ chatMessage.photo }}" alt="{{ chatMessage.name }}">
      </a> -->
      <div class="media-chat" [ngClass]="{'chat-menu-reply' : item.fromId === currentUtc2User.username, 'chat-menu-content': item .fromId !== currentUtc2User.username}">
        <div class="p-2">

          <img class="chat-img" src={{item.image}} *ngIf="item.image && item.type==='image'" height="60px" width="auto" alt="img" (click)="doClickImg(item.image)">
          <div class="chat-file" *ngIf="item.image && item.type==='file'" class="row mx-0">
            <button class="btn button-file" (click)="doClickImg(item.image, item.fileName)"><i class="ti-file mr-0"></i></button>
            <span class="chat-file-name text-truncate">{{item.fileName}}</span>
          </div>

          <span class="chat-cont mb-1" *ngIf="item.message" >{{ item.message }}</span>

          <!-- <p class="chat-time my-0">{{ item.date | date :'dd/MM/yyyy hh:mm a'}}</p> -->
        </div>
      </div>
    </div>

    <!-- <div class="media chat-messages">
      <a class="media-left photo-table" href="javascript:;">
        <img
          class="media-object m-t-5"
          src="assets/images/avatar-1.jpg"
          alt="Generic placeholder image"
        />
      </a>
      <div class="media-body chat-menu-content">
        <div class="">
          <p class="chat-cont">
            I'm just looking around. Will you tell me something about yourself?
          </p>
          <p class="chat-time">8:20 a.m.</p>
        </div>
      </div>
    </div> -->

    <div #newChat [innerHTML]="newReplay"></div>
    <!-- <div class="media chat-messages">
      <div class="media-body chat-menu-reply">
        <div class="">
          <p class="chat-cont">
            I'm just looking around. Will you tell me something about yourself?
          </p>
          <p class="chat-time">8:20 a.m.</p>
        </div>
      </div>
      <div class="media-right photo-table">
        <a href="javascript:;">
          <img
            class="media-object m-t-5"
            src="assets/images/avatar-4.jpg"
            alt="Generic placeholder image"
          />
        </a>
      </div>
    </div> -->
  </perfect-scrollbar>
  <div class="chat-reply-box p-b-20">


  <div class="d-flex flex-column" (focusout)="this.message_error = false;">
    <div class="position-relative image-container py-2" *ngIf="image">
      <div class="">
        <button class="delete-image" (click)="deleteImg()">
          <i class="ti-close" style="font-size: 13px;"></i>
        </button>
        <div class="chat-file" *ngIf="!image.includes('data:image')" class="row mx-0">
          <button class="btn button-file"><i class="ti-file mr-0"></i></button>
          <span class="chat-file-name text-truncate">{{fileName}}</span>
        </div>
        <img  *ngIf="image.includes('data:image')" src={{image}} height="40px" width="auto" alt="img">
      </div>
    </div>
    <div class="input-group mb-0">
      <label for="attach-file" class="mb-0">
        <input type="file" id="attach-file" class="chat-attach" style="display: none;" (change)="handleFileInput($event.target.files)">
        <!-- <a (click)="doAttach()"  class="input-group-prepend btn btn-success btn-attach" [ngClass]="{'btn-danger': message_error === true}"> -->
          <i class="ti-clip" style="font-size: 20px; line-height: 35px"></i>
        <!-- </a> -->
      </label>
      <input type="text" [(ngModel)]="message" name="h-chat-text" class="form-control h-send-chat" placeholder="Aa" (keyup)="sentMsg(1)" (keyup.enter)="sentMsg(0)">
      <button type="submit" class="input-group-append btn-send btn btn-primary" style="border: none;" [ngClass]="{'btn-danger': message_error === true}" (click)="sentMsg(0)">
        <i class="icofont icofont-paper-plane"></i>
      </button>
    </div>
  </div>

    <!-- <div class="right-icon-control">
      <input
        type="text"
        [(ngModel)]="message"
        class="form-control search-text"
        placeholder="Aa"
        (keyup.enter)="sentMsg(0)"
      />
      <div class="form-icon">
        <i class="icofont icofont-paper-plane"></i>
      </div>
    </div> -->
  </div>
</div>

<!-- <div class="h-list-header">
  <h6>{{ chatMessage.name }}</h6>
  <a href="javascript:" class="h-back-user-list" (click)="this.onChatToggle.emit();"><i class="feather icon-chevron-left"></i></a>
</div> -->

<!-- <div class="h-list-body">
  <div class="main-chat-cont">
    <div class="main-friend-chat">
      <ng-template #CHATNOTFOUND>
        <div class="media chat-messages text-center">
          <div class="media-body chat-menu-content">
            <div class="">
              <p class="chat-cont">CHAT NOT FOUND</p>
            </div>
          </div>
        </div>
      </ng-template> -->
      <!-- <ng-container *ngIf="chatMessage.chat; else CHATNOTFOUND"> -->

      <!-- <ng-container>
        <perfect-scrollbar ngClass="elite-scroll" [style.max-width]="'350px'" [style.max-height]="'calc(100vh - 170px)'" [usePSClass]="'elite'" [disabled]="null">
          <div *ngFor="let messages of chatMessage.chat">
            <div class="media chat-messages">
              <a *ngIf="messages.type" class="media-left photo-table" href="javascript:">
                <img class="media-object img-radius img-radius m-t-5" src="{{ chatMessage.photo }}" alt="{{ chatMessage.name }}">
              </a>
              <div class="media-body" [ngClass]="{'chat-menu-content' : messages.type, 'chat-menu-reply': !messages.type}">
                <div class="">
                  <p class="chat-cont">{{ messages.msg }}</p>
                </div>
                <p class="chat-time">{{ messages.time }}</p>
              </div>
            </div>
          </div>
          <div #newChat [innerHTML]="newReplay"></div>
          <div *ngIf="friendWriting" class="media chat-messages typing">
            <a class="media-left photo-table" href="javascript:"><img class="media-object img-radius img-radius m-t-5" src="{{chatMessage.photo}}" alt="{{ chatMessage.name }}"></a>
            <div class="media-body chat-menu-content">
              <div class="rem-msg">
                <p class="chat-cont">Typing . . .</p>
              </div>
              <p class="chat-time">now</p>
            </div>
          </div>
        </perfect-scrollbar>
      </ng-container>
    </div>
  </div>
</div>
<div class="h-list-footer">
  <div class="input-group" (focusout)="this.message_error = false;">
    <input type="file" class="chat-attach" style="display:none">
    <a href="javascript:" class="input-group-prepend btn btn-success btn-attach" [ngClass]="{'btn-danger': message_error === true}">
      <i class="feather icon-paperclip"></i>
    </a>
    <input type="text" [(ngModel)]="message" name="h-chat-text" class="form-control h-send-chat" placeholder="Write hear . . " (keyup)="sentMsg(1)" (keyup.enter)="sentMsg(0)">
    <button type="submit" class="input-group-append btn-send btn btn-primary" [ngClass]="{'btn-danger': message_error === true}" (click)="sentMsg(0)">
      <i class="feather icon-message-circle"></i>
    </button>
  </div>
</div> -->

